<%= partial 'partials/head' %>
<%= partial 'partials/header' %>
<style>img{width: 100% !important; margin: 0;} h1{font-size:40px;}</style>
<div class="box" id="main" role="main" style="background-color:#Fff !important;">
    <div style="padding:20px;">


        <%= yield %>
            </div>
    </div>
<!-- <%= partial 'partials/aside' %> -->

<%= partial 'partials/article_footer' %>
<%= partial 'partials/foot' %>
