<!-- <canvas id="c"></canvas> -->
<%= partial 'partials/head' %>
<body>
<%= partial 'partials/header' %>
<div class="box" id="main" role="main">
    <%= yield %>
</div>
<%= partial 'partials/footer' %>
<%= partial 'partials/foot' %>
