---
title: blog
pageable: true
per_page: 3
---

<style>

  .navi {
    z-index: 10;
  }


  body {
    background: #7bb7fa!important;
    transition: 2000ms ease-in;

  }

  .box {
     background: none !important;
     padding: 0px !important;
     box-shadow: 0 0px 0px !important;
     z-index: 0 !important;
       position:inherit;
       margin-bottom: auto !important;
       pointer-events: none;
 }


</style>

<div class="blog box">
  <div class="grid" id="bloggrid">

    <div class="grid-item grid-item--contactinfo stamp stamp2">
      <div class="grid-item-content">
<p>After years of web-designing, implementing and utilizing third-party applications to make the web.</p>
<p>I decided to rise up to a new challenge by becoming a full stack developer.</p>

<p>To be able to code and create in multiple languages limited only by imagination... opens up a whole new world full of opportunities.

<p>So I toke it upon my self to learn the way of the code...</p>

<p>Languages based on Ruby and JavaScript interest me the most.</p>

<h2>Who I am...</h2>

<img class="img-circle" src="https://avatars2.githubusercontent.com/u/8024057?v=3&s=460" />

<p>I am Khalil Gharbaoui.</p>

<p>Read about my findings and experiences here on my developer blog.</p>
      </div>
    </div>
    <!-- Contact Buttons -->
    <!-- <div class="grid"> -->
    <div class="grid-item grid-item--achievments stamp stamp6">
        <a href="mailto:khalilgharbaoui@hotmail.com" target="_blank"><i class="fa fa-envelope-o email">&nbsp;</i><div class="grid-item-content"></div></a>
      </div>
      <div class="grid-item grid-item--achievments stamp stamp3">
        <a href="https://github.com/khalilgharbaoui" target="_blank"><div class="grid-item-content"></div></a>
      </div>
      <div class="grid-item grid-item--achievments stamp stamp4">
        <a href="https://ch.linkedin.com/in/khalilgharbaoui" target="_blank"><div class="grid-item-content"></div></a>
      <!-- </div> -->
    </div>

    <!-- <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'> -->
    <% page_articles.each_with_index do |article, i| %>
    <div class="grid-item" id="loopitem">
      <div class="grid-item-content">
        <!-- <h2><%= link_to article.title, article %></h2> -->
        <%= article.date.strftime('%e %b %Y') %>
        <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
       <%= article.summary(255) %>
       <p><%= link_to "➜ Read more...", article %></p>
      </div>
    </div>
    <% end %>
  </div>
  <br/>
  <center>
  <% if paginate && num_pages > 1 %>
  <!-- <p>Page
  <%= page_number %>
  of
  <%= num_pages %></p> -->

  <% if prev_page %>
  <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
  <% end %>

  <% if paginate %>
  <% if next_page %>
  <center class="buttonfix">
  <button class="button -green blogbutton" onclick="resumeInfiniteScroll(event)">Show more posts</button>

  <div class="navi" style="pointer-events: all;"><%= link_to '', next_page, class: "nextpage" %></div>
  <% end %>
  <% end %>
</center>

</div>
