---
title: blog
pageable: true
per_page: 3
priority: 1.0
change_frequency: daily
---
<style>

  body {
    background: #0077B5!important;
    /*transition: 1500ms ease-in;*/
  }
  .box {
    background: none !important;
    padding: 0 !important;
    box-shadow: 0 0 0 !important;
    z-index: 0 !important;
    position: inherit;
    /*margin-bottom: auto !important;*/
    pointer-events: all;
  }
  .grid-item{background-color: #fff;}
</style>

<div class="blog box">
  <div class="grid">
    <div class="grid-item--aboutme stamp hidden">
      <div class="grid-item-content">
        <div class="aboutme-img">
          <div class="profile-photo">
            <img src="../images/Khalil-Gharbaoui-with-a-smile-on-his-face.png"/>
            <!-- <img src="https://avatars2.githubusercontent.com/u/8024057?v=3&s=460"/> -->
          </div>
        </div>
        <div class="aboutme-info">
          <div class="profile-info">
            <div class="profile-preword">
              <span>Hello</span>
            </div>
            <h1 class="profile-title">
              <span>I'm</span>
              Khalil Gharbaoui</h1>
            <h2 class="profile-position">Developer | Web Designer | Digital Marketeer</h2>
          </div>
          <ul class="profile-list">
            <li class="clearfix">
              <strong class="title">Age</strong>
              <span class="cont">32</span>
            </li>
            <li class="clearfix">
              <strong class="title">E-mail</strong>
              <span class="cont">khalilgharbaoui@hotmail.com</span>
            </li>
            <li class="clearfix">
              <strong class="title">Phone</strong>
              <span class="cont">+31 6 16 660 264</span>
            </li>
          </ul>
          <p>After years of web-designing using HTML5/CSS3, WordPress and third-party applications, I decided to rise up to a new challenge:
            <strong>Web Development, Coding & Developing in multiple languages.</strong>
            I have always seen myself as a problem solver and I'm very curious in nature especially when it comes to digital things♡.</p>
          <p>
            <strong>I've attended a solid traineeship and I'm comfortable with Ruby and Ruby on Rails, JavaScript and jQuery, AJAX, ReactJS, NodeJS, MVC, OOP & REST, all kinds of SQL & NoSQL Databases, Testing and of course Github + CI. I'm also certified as a Google Partner.</stong>
          </p>
          <p>Creating thought through Front-ends or UI/UX, and reliable RESTful APIs or back-ends is what interests me the most.</p>
          <strong>"I'm currently looking for a job as a Junior Developer!"</strong>
          <p>
            <i>Contact me, see
              <a href="/my-work">my work</a>
              or read about my experiences on my blog.</i>
          </p>
        </div>
      </div>
      <div class="social">
        <ul>
          <li>
            <a href="https://ch.linkedin.com/in/khalilgharbaoui" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/khalilgharbaoui" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.google.com/partners/?hl=en-GB#a_profile;idtf=7256334643;" target="_blank">
              <i class="fa fa-google"></i>
            </a>
          </li>
          <li>
            <a href="mailto:khalilgharbaoui@hotmail.com" target="_blank">
              <i class="fa fa-envelope-o"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <% page_articles.reverse_each.with_index do |article, i| %>
    <div class="grid-item">
      <div class="blogdate">
        <h2><%= link_to article.title, article %></h2><%= article.date.strftime('%e %b %Y') %></div>

      <div class="grid-item-content">
        <!-- <h2><%= link_to article.title, article %></h2> -->

        <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
        <%link_to article do %><%= article.summary(255) %><% end %>
      </div>

      <%link_to article do %>
      <div class="article-link">➜ Read more...</div>
      <% end %>

    </div>
    <% end %>
  </div>
  <br/>
  <center>
    <% if paginate && num_pages > 1 %>
    <!-- <p>Page
  <%= page_number %>
  of
  <%= num_pages %></p> -->

    <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
    <% end %>
    <% end %>

    <% if paginate %>
    <% if next_page %>
    <div class="buttonfix">
      <button class="button -green blogbutton" onclick="resumeInfiniteScroll(event)">Show more posts</button>
      <div class="navi" style="pointer-events: all;"><%= link_to '', next_page, class: "nextpage" %></div>
      <% end %>
      <% end %>
    </div>
  </center>
</div>
